* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header {
    line-height: 45px;
    position: absolute;
    top: 0px;
    white-space: none;
    width: 100%;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    z-index: 1000;
    padding: 5px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    line-height: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: break-spaces;
    box-shadow: 0 -.25rem .75rem rgba(0,0,0,.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 20px;
}

body {
    padding: 55px 0px 40px;
}